{% extends "base.html" %}
{% block content %}
<h2>Add a New Data Structure</h2>
<form action="{{ url_for('views.add_data_structure') }}" method="POST">
    <label for="ds_name">Name:</label>
    <input type="text" name="ds_name" required>

    <label for="time_complexity">Time Complexity:</label>
    <input type="text" name="time_complexity">

    <label for="mem_complexity">Memory Complexity:</label>
    <input type="text" name="mem_complexity">

    <label for="type">Type:</label>
    <input type="text" name="type">

    <label for="description">Description:</label>
    <textarea name="description" required></textarea>

    <label for="code_example">Code Example:</label>
    <textarea name="code_example"></textarea>

    <input type="submit" value="Add">
</form>
{% endblock %}
